<template>
  <div id="app">
    <Gameboard/>
    <Chess style="height:80px;width:80px; background-color:#AAAAAA" assets-path="./src/assets/chess/" type="bp"/>
  </div>
</template>

<script>
import Gameboard from './components/Gameboard.vue'
import Chess from './components/Chess.vue'

export default {
  name: 'App',
  components: {
    Gameboard,
    Chess
  }
}


</script>

<style>
</style>
