<template>
    <div id="ciro" v-on:click="init"></div>
</template>

<script>

export default {
    data(){
        return {
            name: "Chess",
        }
    },

    props:["type","assets-path"],

    methods:{
        init() {
            console.log("asset changed")
            document.getElementById("ciro").innerHTML = `<img v-bind:src="/src/assets/chess/bp.png" style="height:100%;width:100%">`
        }
    }
}
</script>

<style scoped>
#ciro{
    height: 100%;
    width: 100%
}

</style>