<template>
    <div v-on:click="init">
        <p>start</p>
        <div id="chessboard" class="chessboard">
        </div>
    </div>
</template>

<script>

export default {
    data() {
        return {
            chessboard: {
                width: 8,
                height: 8,
                grid: [],
                colorSet: ["#FFFFDD", "#603333"],
                preset: [
                ["br","bh","bb","bq","bk","bb","bh","br"],
                ["bp","bp","bp","bp","bp","bp","bp","bp"],
                [undefined,undefined,undefined,undefined,undefined,undefined,undefined,undefined],
                [undefined,undefined,undefined,undefined,undefined,undefined,undefined,undefined],
                [undefined,undefined,undefined,undefined,undefined,undefined,undefined,undefined],
                [undefined,undefined,undefined,undefined,undefined,undefined,undefined,undefined],
                ["wp","wp","wp","wp","wp","wp","wp","wp"],
                ["wr","wh","wb","wq","wk","wb","wh","wr"]]
            }
        }
    },

    methods: {

        init() {
            console.log()
            console.log("init() started")
            this.createChessboard()
            console.log(this.chessboard.grid)
        },

        createChessboard() {
            let cellWidth = document.getElementById("chessboard").getBoundingClientRect().width / this.chessboard.width
            let cellHeight = document.getElementById("chessboard").getBoundingClientRect().height / this.chessboard.height
            for (var i = 0; i < this.chessboard.width; i++){
                this.chessboard.grid.push([])
                for (var j = 0; j < this.chessboard.height; j++){
                    let cell = {}
                    cell.id = i.toString(16) + j.toString(16)
                    cell.chess = {
                        id: cell.id,
                        type: this.chessboard.preset[i][j]
                    }
                    this.chessboard.grid[i].push(cell)
                    document.getElementById("chessboard").innerHTML += `<div id="${i.toString(16) + j.toString(16)}" style="position:absolute;width:${cellWidth}px;height:${cellHeight}px;left:${cellWidth * j}px; top:${cellHeight * i}px; background-color:${this.chessboard.colorSet[(i+j)%2]}"><Chess id="${i.toString(16) + j.toString(16)}"></div>`
                }
            }
        }
    }
}
</script>

<style scoped>
#chessboard{
    width: 640px;
    height: 640px;
}
</style>